* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --background-color: #f7f5ef;
    --primary-focus-color: #f08559;
    --secondary-focus-color: #19192b;
    --primary-text-color: #000000;
    --secondary-text-color: #26282e;
}

:root.dark {
    --background-color: #282828;
    --primary-focus-color: #bebebe;
    --secondary-focus-color: #4b4b81;
    --primary-text-color: #e8e8e8;
    --secondary-text-color: #282828;
}

$background-color: var(--background-color);
$primary-focus-color: var(--primary-focus-color);
$secondary-focus-color: var(--secondary-focus-color);
$primary-text-color: var(--primary-text-color);
$secondary-text-color: var(--secondary-text-color);
$andika-regular: url('../../src/assets/fonts/Andika-Bold.ttf');
$andika-bold: url('../../src/assets/fonts/Andika-Bold.ttf');

@font-face {
    font-family: 'Andika-Regular';
    src: $andika-regular;
}

@font-face {
    font-family: 'Andika-Bold', serif;
    src: $andika-bold;
}
