@use './variables' as *;

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > a {
        > img {
            fill: $primary-text-color;
        }
    }

    > ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-inline: 0;
        margin-block: 0;

        > li {
            margin-inline: 2rem;

            > a {
                color: $primary-focus-color;
                transition: color 0.25s;

                &:hover {
                    color: $secondary-focus-color;
                }
            }
        }
    }

    > span {
        width: 216px;
        text-align: right;

        > button {
            border: 1px solid $secondary-focus-color;
            background-color: $background-color;
            border-radius: 2.5rem;
            transition:
                color 0.25s,
                border-color 0.25s;

            &:hover {
                color: $primary-focus-color;
                border-color: $primary-focus-color;
            }

            > i {
                width: 16px;
            }
        }
    }
}
