@use 'variables' as *;

html {
    font-family: 'Andika-Regular', sans-serif;
    background-color: $background-color;
    color: $primary-text-color;
    transition:
        color 0.5s,
        background-color 0.5s;
}
